.search-input {
	width: 100%;
	background: var(--overlay-background);
	backdrop-filter: blur(5px);
	padding: 8px 10px;
	font: 14px Arial, sans-serif;
	border: 1px solid #ccc;
	border-radius: 14px;
	outline: none;
}
.search-input:focus {
	border-color: #666;
}